@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700;800&family=Shrikhand&display=swap');
/* FONTS
font-family: 'Open Sans', sans-serif; 400, 500, 600, 700, 800   
font-family: 'Shrikhand', serif; 400 */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --detail-2: #114b5fff;
    --detail-1: #1a936fff;
    --background-3: #88d498ff;
    --background-2: #c6dabfff;
    --background-1: #f3e9d2ff;
}
.main{
    width: 100%;
    min-height: 100vh;
    background-color: var(--background-1);
    display: flex;
    flex-direction: column;
}
*{
    font-family: sans-serif;
}
/* nav */
.nav{
    width: 100%;
    position: fixed;
    right: 0;
    top: 0;
    transition: 0.2s;
}
.nav--big{
    height: 300px;
}
.nav--small{
    height: 100px;
}
.logo{
    position: absolute;
    display: flex;
    align-items: center;
    transition: 0.2s;
    z-index: 15;
    color: var(--detail-2);
    font-family: 'Shrikhand', serif;
}
.logo--big{
    font-size: 140px;
    width: 1440px;
    height: 200px;
    top: 0;
    padding-left: calc(100% - (1440px + ((100% - 1440px) / 2)));
}
.logo--small{
    font-size: 40px;
    height: 100%;
    width: auto;
    padding-left: 10px;
}
.menu-background{
    width: calc(1440px + ((100% - 1440px) / 2)) ;
    height: 100px;
    position: absolute;
    bottom: 0;
    display: flex;
    background-color: var(--background-3);
    transition: 0.2s;
    z-index: 10;
}
.menu-background--big{
    justify-content: flex-start;
    right: 0;
}
.menu-background--small{
    justify-content: flex-end;
    right: calc(100% - (1440px + ((100% - 1440px) / 2)));
}
.menu{
    width: 1440px;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;
}
.outlet-wraper{
    margin-top: 150px;
}
/* home */
.home{
    width: calc(1440px + ((100% - 1440px) / 2));
    min-height: 400vh;
    background-color: var(--background-2);
}
.menu-element{
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
    color: var(--detail-2);
    font-size: 20px;
    transition: 0.1s;
    cursor: pointer;
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
}
.menu-element:hover{
    /* font-weight: 800; */
    /* font-size: 22px; */
}