@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&family=Shrikhand&display=swap');
/* FONTS
font-family: 'Open Sans', sans-serif; 300, 400, 500, 600, 700, 800   
font-family: 'Shrikhand', serif; 400 */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --detail-2: #114b5fff;
    --detail-1: #1a936fff;
    --background-3: #88d498ff;
    --background-2: #c6dabfff;
    --background-1: #f3e9d2ff;
}
/* #root{
    width: 100%;
    background-color: var(--background-1);
} */

/* nav */
.nav{
    width: 100%;
    position: fixed;
    right: 0;
    top: 0;
    transition: 0.5s;
    z-index: 10;
}
.nav--big{
    height: 300px;
}
.nav--small{
    height: 75px;
}
.logo{
    position: absolute;
    display: flex;
    align-items: center;
    transition: 0.5s;
    z-index: 15;
    color: var(--detail-2);
    font-family: 'Shrikhand', serif;
}
.logo--big{
    font-size: 140px;
    width: 1440px;
    height: 200px;
    top: 0;
    padding-left: calc(100% - (1440px + ((100% - 1440px) / 2)));
}
.logo--small{
    font-size: 40px;
    height: 100%;
    width: auto;
    padding-left: 10px;
}
.menu-background{
    width: calc(1440px + ((100% - 1440px) / 2)) ;
    position: absolute;
    bottom: 0;
    display: flex;
    background-color: var(--background-3);
    transition: 0.5s;
    z-index: 10;
}
.menu-background--big{
    /* justify-content: flex-start; */
    right: 0;
    height: 100px;
}
.menu-background--small{
    /* justify-content: flex-end; */
     height: 75px;
    right: calc(100% - (1440px + ((100% - 1440px) / 2)));
}
.menu{
    position: absolute;
    width: 1440px;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;
    transition: 0.5s;
    overflow: hidden;
}
.menu--big{
    top: 0;
    left: 0;
}
.menu--small{
    top: 0;
    left: calc(100% - 1440px);
}
.menu-element{
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 20px;
    transition: 0.1s;
    cursor: pointer;
    width: 25%;
    height: 70%;
    user-select: none;
    border-left: 2px solid var(--detail-2);
    transition: 0.2s;
}
.menu-element--no-border{
    margin-left: -2px;
}
.menu-element:hover{
    font-weight: 700;
}
.menu-element--switch{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.menu-element--switch:hover .menu-element__switch--on{
    transform: translate(-50px, -50%);
}
.menu-element--switch:hover .menu-element__switch--off{
    transform: translate(0, -50%);
}
.menu-element__switch--on{
    background-color: var(--detail-2);
    color: var(--background-3);
    font-weight: 500;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    transition: 0.2s;
}
.menu-element__switch--off{
    background-color: var(--detail-2);
    color: var(--background-3);
    font-weight: 300;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 5;
    transition: 0.2s;
}
.menu-element__link{
    width: 100%;
    height: 100%;
    color: var(--detail-2);
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.outlet-wraper{
    width: 100%;
    height: auto;
}
.main{
    width: 100%;
    min-height: 100vh;
    height: auto;
    padding-top: 150px;
    background-color: var(--background-1);
}

/* home */
.home-wraper{
    width: 100%;
    height: auto;
    display: flex;
}
.home{
    width: calc(1440px + ((100% - 1440px) / 2));
    min-height: 400vh;
    top: 0;
    left: 0;
    background-color: var(--background-2);
}


/* search */
.search{
    background-color: var(--detail-1);
    width: calc(1440px + ((100% - 1440px) / 2));
    height: 100vh;
}
.results{
    width: calc(1440px + ((100% - 1440px) / 2));
    height: 100vh;
    background-color: var(--detail-2);
}